.Footer {
	color: #ffffff; font-family:'Times New Roman', Times, serif;
	font-size: 250%; font-weight:bolder;  margin: 0 0 18px;text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}
