.ImageCard {
	display:inline-flex;
    flex-direction: column;
    width: 20%;
    height: 60px;
    
    
}

.Image img{
    width: 140px;
    height: 140px;
    margin: auto;
    
}

.Link{
    -webkit-text-stroke: 1px rgb(246, 251, 253);
    font-size: 170%;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}