.Layout {
	height: 100%;
    display: grid;
    grid-template-rows: 15% 80%  5% ;
    background-image: url("Mountain.webp");
    background-size: cover;
    
    
    


    
    
     
}

.Layout main{
    overflow: auto;
}
