.Layout {
	height: 100%;
    display: grid;
    grid-template-rows: 20% 5% 67%  3% ;
    background-image: url("Mountain.webp");
    background-size: cover;
    
    


    
    
     
}

.Layout main{
    overflow: auto;
}
