.ImageDetailsForClient {
	
}




.ImageDetailsForClient img{
    position:absolute;
    right: 110px;
    top: 60px;
    height: 500px;
}


.ImageDetailsForClient div{
    -webkit-text-stroke: 2px black;
    position: absolute;
    left: 20px;
    top: 120px;
    
}


.ImageDetailsForClient div h2{
    font-size: 550%;
}

.ImageDetailsForClient div h4{
    font-size: 250%;
}

.ImageDetailsForClient div span{
    font-size: 200%;
}